*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white
}

header{
    font-size: 14px;
}

main{
    flex-grow: 1;
}


.hero{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position: center center;
    border-bottom: 4px solid #f74780;

    display: flex;
    align-items: end;
    justify-content: start;
}

.conteudo{
    min-height: 300px;
}


