body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.logo{
    color: white;
}

.style{
    background-color: #f74780;
    color: white;
    text-align: center;
}

.serie { 
    padding: 1% 2%;
}

.serie ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.serie li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serie ul li h3 { 
    font-size: 2rem;
    color: white;
    margin: 8px 0;
}

.serie, img {
    width: 400px;
    height: 600px;
    margin-right: 10px;
}