body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}


header{
    font-size: 10px;
}

.hero{
    background-image: url('/img/thelast2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center center;
}

.thelast, h1 {
    color: white;
}

.thelast, h2, p{
    color: white;
}

